@model KisiselWebSitesi.Models.Siniflar.Ikonlar
@{
    ViewBag.Title = "IkonGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İkon Güncelle</h2>
<br />

@using (Html.BeginForm("IkonGuncelle", "AdminController", FormMethod.Post))
{
    @Html.LabelFor(x => x.Id)
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Isim)
    @Html.TextBoxFor(x => x.Isim, new { @class = "form-control"})
    <br />
    @Html.LabelFor(x => x.Link)
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
    <br/>
    <button class="btn btn-success">ikon Güncelle</button> 

}
